.about {
  display: flex;
  flex-direction: column;
}
.about h2 {
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.about-detail {
  font-size: 20px;
}
.about p {
  width: 100%;
  margin-left: 15px;
}

.linkedin {
  font-size: 20px;
}
.linkedin .glow-on-hover:hover {
  background-color: var(--button);
  text-decoration: underline var(--black);
}
.linkedin .btn-link {
  width: 150px;
  height: 40px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--background-color);
  border: 2px solid rgba(10, 91, 114, 0.454);
}
.linkedin .btn-link a {
  color: rgba(255, 255, 255, 0.76);
}
@media screen and (max-width: 600px) {
  .about {
    height: fit-content;
    padding-bottom: 10px;
  }
  .linkedin {
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }
  .linkedin .btn-link {
    width: 100px;
    height: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    height: fit-content;
    padding-bottom: 50px;
  }
  .linkedin {
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }
  .linkedin .btn-link {
    width: 150px;
    height: 30px;
  }
}
